---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd
import re

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [18]:
def date_sorter():
    
    import numpy as np
    list1 = []
    list2 = []
    list3 = []
    list4 = []
    cond1 = r'(?:\d{1,2}[-/])?\d{1,2}[-/]\d{2,4}'
    cond2 = r'(?:\d{1,2})[-., ]+(?:Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})[-., ]+(?:\d{2,4})'
    cond3 = r'(?:Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})(?:[-., ]+(?:\d{1,2})(?:[a-z]{2})?)?[-., ]+(?:\d{2,4})'
    cond4 = r'(19\d\d|20\d\d)'
    for line in df:

        search1 = []
        search2 = []
        search3 = []
        search4 = []

        search1 = re.findall(cond1, line)
        search2 = re.findall(cond2, line)
        search3 = re.findall(cond3, line)
        search4 = re.findall(cond4, line)

        list1.append(search1)
        list2.append(search2)
        list3.append(search3)
        list4.append(search4)
    dff = pd.DataFrame(df)
    dff['cond1']= list1
    dff['cond2'] = list2
    dff['cond3'] = list3
    dff['cond4'] = list4
    dff['cond1'] = dff['cond1'].apply(lambda x: np.nan if x==[] else x)
    dff['cond2'] = dff['cond2'].apply(lambda x: np.nan if x==[] else x)
    dff['cond3'] = dff['cond3'].apply(lambda x: np.nan if x==[] else x)
    dff['cond4'] = dff['cond4'].apply(lambda x: np.nan if x==[] else x)

    dff['cond1'] = dff['cond1'].astype(str)
    dff['cond2'] = dff['cond2'].astype(str)
    dff['cond3'] = dff['cond3'].astype(str)
    dff['cond4'] = dff['cond4'].astype(str)
    dff['cond1']= dff['cond1'].apply(lambda x: np.nan if x=='nan' else x)
    dff['cond2']= dff['cond2'].apply(lambda x: np.nan if x=='nan' else x)
    dff['cond3']= dff['cond3'].apply(lambda x: np.nan if x=='nan' else x)
    dff['cond4']= dff['cond4'].apply(lambda x: np.nan if x=='nan' else x)

    dff['cond1'] = dff['cond1'].replace(r'(\])*(\[)*(\')*(\')*', '', regex=True)
    dff['cond2'] = dff['cond2'].replace(r'(\])*(\[)*(\')*(\')*', '', regex=True)
    dff['cond3'] = dff['cond3'].replace(r'(\])*(\[)*(\')*(\')*', '', regex=True)
    dff['cond4'] = dff['cond4'].replace(r'(\])*(\[)*(\')*(\')*', '', regex=True)

    dff['cond1']= dff['cond1'].str.strip()
    dff['cond2']= dff['cond2'].str.strip()
    dff['cond3']= dff['cond3'].str.strip()
    dff['cond4']= dff['cond4'].str.strip()

    #condition 1

    c1dff = dff['cond1'].str.extractall(r'((\d{1,2}[-/])?(\d{1,2})[-/](\d{2,4}))')
    c1dff = c1dff[0].unstack()
    c1dff.loc[80][0] = c1dff.loc[80][1]
    c1dff.loc[272][0] = np.nan
    c1dff.drop(columns=[1], inplace=True)
    c1dff = c1dff[0].str.extractall(r'(?P<date_raw>(?P<month>\d{1,2})[-/](?P<day>\d{1,2}[-/])?(?P<year>\d{2,4}))')
    #c1dff.rename(columns={0:'date_raw', 1:'month', 2:'day', 3: 'year'}, inplace=True)
    c1dff['day']= c1dff['day'].replace(r'[-/. ]', '', regex=True)
    #c1dff['day'] = c1dff.day.astype(str)
    c1dff['day'].fillna('01',inplace=True)
    c1dff['month'] = c1dff['month'].apply(lambda x: '0'+x if len(x)==1 else x)
    c1dff['day'] = c1dff['day'].apply(lambda x: '0'+x if len(x)==1 else x)
    c1dff['year'] = c1dff['year'].apply(lambda x: '19'+x if len(x)==2 else x)

    c1dff['date'] = c1dff['year']+c1dff['month']+c1dff['day'] #reconstruct in yyyymmdd
    c1dff.drop(columns = ['month','day', 'year'], inplace=True)
    c1dff = c1dff.droplevel(level=1, axis=0)

    #Condition 2

    c2dff = dff['cond2'].str.extractall(r'((\d{1,2})[-., ](Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})[-., ]+(\d{2,4}))')
    c2dff.index.unique(level='match')# only match level 0 hence match index can be discarded
    c2dff.rename(columns={0:'raw_date', 1: 'day', 2: 'month', 3: 'year'}, inplace=True)

    # Day field cleaning
    c2dff.fillna('01', inplace=True) # file NaN with 01
    c2dff['day'].apply(lambda x: x if len(x)<2 else 0).unique() # no single digit date

    # month field cleaning
    c2dff[c2dff['month'].isnull()] # no null fields
    c2dff['month'] = c2dff['month'].apply(lambda x: x[:3] if len(x)>3 else x) # change to 3 character month format
    monthDic = {'Jan':'01', 'Feb':'02', 'Mar':'03', 'Apr':'04', \
                'May':'05', 'Jun':'06', 'Jul':'07' ,'Aug':'08', 'Sep':'09',\
               'Oct':'10', 'Nov':'11', 'Dec':'12'}
    c2dff['month'] = c2dff['month'].apply(lambda x: monthDic[x]) # change to numeric month representation

    c2dff['year'].isnull().unique() # no null fields
    c2dff['year'].unique() # some fields are incorrectly picked in cond2 and correct in cond3. there are where
    c2dff['date'] = c2dff['year']+c2dff['month']+c2dff['day']

    #Condition 3

    c3dff = dff['cond3'].str.extractall(r'(?P<date_raw>(?P<month>Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})(?P<day>[-., ]+\d{1,2}(?P<th>[a-z]{2})?)?[-., ]+(?P<year>\d{2,4}))')
    c3dff.index.unique(level='match') # only match level 0 hence match index can be discarded

    # Cleaning for Day field. remove nonalphanumeric characters and strip
    c3dff['day']= c3dff['day'].replace(r'[\W]*[\s]*','',regex=True) # clear non-alphanumeric characters(\W) and white spaces(\s) 
    # since each entry could have more than one white space or illegal characters * is specified to match 0 or more times
    c3dff['day'].fillna('01', inplace = True) # fill NaN with 01
    #c3dff['day'].apply(lambda x: x if len(x)!=2 else 0).unique() # verify all enteries are legit. 

    # Month Field Cleaning, make sure all month are 3 characters long, then use dictionary to change to numeric value
    c3dff['month'].unique() # some values needs converting to 3 digits, also misspelled months
    c3dff['month'] = c3dff['month'].apply(lambda x: x[:3] if len(x)>3 else x)
    c3dff['month'] = c3dff['month'].apply(lambda x: monthDic[x])

    # Year Field Cleaning
    c3dff['year'].apply(lambda x: x if len(x)!=4 else 0).unique() # all fields are of 4 length 
    c3dff['year'].unique() # values seem fine as well, hence no cleaning required
    c3dff['date'] = c3dff['year']+c3dff['month']+c3dff['day']

    #Condtion 4

    dff['cond4'].astype(str).apply(lambda x: x if len(x)!=4 else 0).unique()
    c4dff = dff['cond4'].str.extractall(r'(19\d\d|20\d\d)')
    c4dff.index.unique(level='match') # only index level 0, match can be discarded
    c4dff.rename(columns={0:'raw_date'}, inplace=True)
    c4dff['date'] = c4dff['raw_date']+'01'+'01'

    ## Mergin back into main DataFrame dff
    dff = dff.merge(c1dff, left_index=True, right_index=True, how='outer')
    dff.rename(columns={'date_raw':'raw_cond1', 'date': 'date_cond1'}, inplace=True)
    c2dff = c2dff.droplevel(level=1, axis=0)
    c3dff = c3dff.droplevel(level=1, axis=0)
    c4dff = c4dff.droplevel(level=1, axis=0)
    c3dff.drop(columns=['day', 'month', 'year', 'th'], inplace=True)
    c2dff.drop(columns=['day', 'month', 'year'], inplace=True)
    dff=dff.merge(c2dff, left_index=True, right_index=True, how='outer')
    dff.rename(columns={'raw_date':'raw_cond2', 'date': 'date_cond2'}, inplace=True)
    dff = dff.merge(c3dff, left_index=True, right_index=True, how='outer')
    dff.rename(columns={'date_raw':'raw_cond3', 'date': 'date_cond3'}, inplace=True)
    dff = dff.merge(c4dff, left_index=True, right_index=True, how='outer')
    dff.rename(columns={'raw_date':'raw_cond4', 'date': 'date_cond4'}, inplace=True)

    # Filtering DataFrame

    allNull = dff['date_cond1'].notnull() & dff['date_cond2'].isnull() & dff['date_cond3'].isnull() & dff['date_cond4'].isnull()
    dff['date_final'] = dff[allNull]['date_cond1']
    #dff['date_cond1'].astype(str).apply(lambda x: x if len(x)!=8 else 0).unique()

    f3 = dff['date_cond1'].notnull() & dff['date_cond3'].notnull()
    dff.loc[f3,'date_final'] = dff['date_cond3']

    #dff[dff['date_cond1'].notnull() & dff['date_cond3'].notnull()]
    f4 = dff['date_cond1'].notnull() & dff['date_cond4'].notnull()
    dff.loc[f4,'date_final'] = dff['date_cond1']

    #Condition two populate
    f5 = dff['date_cond2'].notnull()
    dff.loc[f5,'date_final'] = dff['date_cond2']

    # Condition 3 populate
    f6 = dff['cond2'].isnull() & dff['cond3'].notnull()
    dff.loc[f6, 'date_final'] = dff['date_cond3']

    # Condition 4 populate
    f7 = dff['date_final'].isnull()
    dff.loc[f7, 'date_final'] = dff['date_cond4']

    #return final sorted series in the format specified 
    final = dff['date_final'].sort_values()
    l1 = list(final.index)
    fSer = pd.Series(l1) 
      
    
    return fSer

In [19]:
date_sorter()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
      ...
470    220
471    208
472    243
473    139
474    320
475    383
476    244
477    286
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    427
495    231
496    141
497    186
498    161
499    413
Length: 500, dtype: int64

## Python version at the portal is slightly older, hence slight changes to below to accomodate

In [1]:
def date_sorter():
    
    
    import numpy as np
    import re

    list1 = []
    list2 = []
    list3 = []
    list4 = []
    cond1 = r'(?:\d{1,2}[-/])?\d{1,2}[-/]\d{2,4}'
    cond2 = r'(?:\d{1,2})[-., ]+(?:Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})[-., ]+(?:\d{2,4})'
    cond3 = r'(?:Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})(?:[-., ]+(?:\d{1,2})(?:[a-z]{2})?)?[-., ]+(?:\d{2,4})'
    cond4 = r'(19\d\d|20\d\d)'
    for line in df:

        search1 = []
        search2 = []
        search3 = []
        search4 = []

        search1 = re.findall(cond1, line)
        search2 = re.findall(cond2, line)
        search3 = re.findall(cond3, line)
        search4 = re.findall(cond4, line)

        list1.append(search1)
        list2.append(search2)
        list3.append(search3)
        list4.append(search4)
    dff = pd.DataFrame(df)
    dff['cond1']= list1
    dff['cond2'] = list2
    dff['cond3'] = list3
    dff['cond4'] = list4
    dff['cond1'] = dff['cond1'].apply(lambda x: np.nan if x==[] else x)
    dff['cond2'] = dff['cond2'].apply(lambda x: np.nan if x==[] else x)
    dff['cond3'] = dff['cond3'].apply(lambda x: np.nan if x==[] else x)
    dff['cond4'] = dff['cond4'].apply(lambda x: np.nan if x==[] else x)

    dff['cond1'] = dff['cond1'].astype(str)
    dff['cond2'] = dff['cond2'].astype(str)
    dff['cond3'] = dff['cond3'].astype(str)
    dff['cond4'] = dff['cond4'].astype(str)
    dff['cond1']= dff['cond1'].apply(lambda x: np.nan if x=='nan' else x)
    dff['cond2']= dff['cond2'].apply(lambda x: np.nan if x=='nan' else x)
    dff['cond3']= dff['cond3'].apply(lambda x: np.nan if x=='nan' else x)
    dff['cond4']= dff['cond4'].apply(lambda x: np.nan if x=='nan' else x)

    dff['cond1'] = dff['cond1'].replace(r'(\])*(\[)*(\')*(\')*', '', regex=True)
    dff['cond2'] = dff['cond2'].replace(r'(\])*(\[)*(\')*(\')*', '', regex=True)
    dff['cond3'] = dff['cond3'].replace(r'(\])*(\[)*(\')*(\')*', '', regex=True)
    dff['cond4'] = dff['cond4'].replace(r'(\])*(\[)*(\')*(\')*', '', regex=True)

    dff['cond1']= dff['cond1'].str.strip()
    dff['cond2']= dff['cond2'].str.strip()
    dff['cond3']= dff['cond3'].str.strip()
    dff['cond4']= dff['cond4'].str.strip()

    #condition 1

    c1dff = dff['cond1'].str.extractall(r'((\d{1,2}[-/])?(\d{1,2})[-/](\d{2,4}))')
    c1dff = c1dff[0].unstack()
    c1dff.loc[80][0] = c1dff.loc[80][1]
    c1dff.loc[272][0] = np.nan
    c1dff.drop(1, axis=1, inplace=True)
    c1dff = c1dff[0].str.extractall(r'(?P<date_raw>(?P<month>\d{1,2})[-/](?P<day>\d{1,2}[-/])?(?P<year>\d{2,4}))')
    #c1dff.rename(columns={0:'date_raw', 1:'month', 2:'day', 3: 'year'}, inplace=True)
    c1dff['day']= c1dff['day'].replace(r'[-/. ]', '', regex=True)
    #c1dff['day'] = c1dff.day.astype(str)
    c1dff['day'].fillna('01',inplace=True)
    c1dff['month'] = c1dff['month'].apply(lambda x: '0'+x if len(x)==1 else x)
    c1dff['day'] = c1dff['day'].apply(lambda x: '0'+x if len(x)==1 else x)
    c1dff['year'] = c1dff['year'].apply(lambda x: '19'+x if len(x)==2 else x)

    c1dff['date'] = c1dff['year']+c1dff['month']+c1dff['day'] #reconstruct in yyyymmdd
    c1dff.drop(['month','day', 'year'],axis=1, inplace=True)
    c1dff.index = c1dff.index.droplevel(level=1)
    #Condition 2

    c2dff = dff['cond2'].str.extractall(r'((\d{1,2})[-., ](Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})[-., ]+(\d{2,4}))')
    #c2dff.index.unique(level='match')# only match level 0 hence match index can be discarded
    c2dff.rename(columns={0:'raw_date', 1: 'day', 2: 'month', 3: 'year'}, inplace=True)

    # Day field cleaning
    c2dff.fillna('01', inplace=True) # file NaN with 01
    c2dff['day'].apply(lambda x: x if len(x)<2 else 0).unique() # no single digit date

    # month field cleaning
    c2dff[c2dff['month'].isnull()] # no null fields
    c2dff['month'] = c2dff['month'].apply(lambda x: x[:3] if len(x)>3 else x) # change to 3 character month format
    monthDic = {'Jan':'01', 'Feb':'02', 'Mar':'03', 'Apr':'04', \
                'May':'05', 'Jun':'06', 'Jul':'07' ,'Aug':'08', 'Sep':'09',\
               'Oct':'10', 'Nov':'11', 'Dec':'12'}
    c2dff['month'] = c2dff['month'].apply(lambda x: monthDic[x]) # change to numeric month representation

    c2dff['year'].isnull().unique() # no null fields
    c2dff['year'].unique() # some fields are incorrectly picked in cond2 and correct in cond3. there are where
    c2dff['date'] = c2dff['year']+c2dff['month']+c2dff['day']

    #Condition 3

    c3dff = dff['cond3'].str.extractall(r'(?P<date_raw>(?P<month>Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})(?P<day>[-., ]+\d{1,2}(?P<th>[a-z]{2})?)?[-., ]+(?P<year>\d{2,4}))')
    #c3dff.index.unique(level='match') # only match level 0 hence match index can be discarded

    # Cleaning for Day field. remove nonalphanumeric characters and strip
    c3dff['day']= c3dff['day'].replace(r'[\W]*[\s]*','',regex=True) # clear non-alphanumeric characters(\W) and white spaces(\s) 
    # since each entry could have more than one white space or illegal characters * is specified to match 0 or more times
    c3dff['day'].fillna('01', inplace = True) # fill NaN with 01
    #c3dff['day'].apply(lambda x: x if len(x)!=2 else 0).unique() # verify all enteries are legit. 

    # Month Field Cleaning, make sure all month are 3 characters long, then use dictionary to change to numeric value
    c3dff['month'].unique() # some values needs converting to 3 digits, also misspelled months
    c3dff['month'] = c3dff['month'].apply(lambda x: x[:3] if len(x)>3 else x)
    c3dff['month'] = c3dff['month'].apply(lambda x: monthDic[x])

    # Year Field Cleaning
    c3dff['year'].apply(lambda x: x if len(x)!=4 else 0).unique() # all fields are of 4 length 
    c3dff['year'].unique() # values seem fine as well, hence no cleaning required
    c3dff['date'] = c3dff['year']+c3dff['month']+c3dff['day']

    #Condtion 4

    dff['cond4'].astype(str).apply(lambda x: x if len(x)!=4 else 0).unique()
    c4dff = dff['cond4'].str.extractall(r'(19\d\d|20\d\d)')
    #c4dff.index.unique(level='match') # only index level 0, match can be discarded
    c4dff.rename(columns={0:'raw_date'}, inplace=True)
    c4dff['date'] = c4dff['raw_date']+'01'+'01'

    ## Mergin back into main DataFrame dff
    dff = dff.merge(c1dff, left_index=True, right_index=True, how='outer')
    dff.rename(columns={'date_raw':'raw_cond1', 'date': 'date_cond1'}, inplace=True)

    c2dff.index = c2dff.index.droplevel(level=1)
    c3dff.index = c3dff.index.droplevel(level=1)
    c4dff.index = c4dff.index.droplevel(level=1)
    c3dff.drop(['day', 'month', 'year', 'th'],axis=1, inplace=True)
    c2dff.drop(['day', 'month', 'year'], axis=1, inplace=True)
    dff=dff.merge(c2dff, left_index=True, right_index=True, how='outer')
    dff.rename(columns={'raw_date':'raw_cond2', 'date': 'date_cond2'}, inplace=True)
    dff = dff.merge(c3dff, left_index=True, right_index=True, how='outer')
    dff.rename(columns={'date_raw':'raw_cond3', 'date': 'date_cond3'}, inplace=True)
    dff = dff.merge(c4dff, left_index=True, right_index=True, how='outer')
    dff.rename(columns={'raw_date':'raw_cond4', 'date': 'date_cond4'}, inplace=True)

    # Filtering DataFrame

    allNull = dff['date_cond1'].notnull() & dff['date_cond2'].isnull() & dff['date_cond3'].isnull() & dff['date_cond4'].isnull()
    dff['date_final'] = dff[allNull]['date_cond1']
    #dff['date_cond1'].astype(str).apply(lambda x: x if len(x)!=8 else 0).unique()

    f3 = dff['date_cond1'].notnull() & dff['date_cond3'].notnull()
    dff.loc[f3,'date_final'] = dff['date_cond3']

    #dff[dff['date_cond1'].notnull() & dff['date_cond3'].notnull()]
    f4 = dff['date_cond1'].notnull() & dff['date_cond4'].notnull()
    dff.loc[f4,'date_final'] = dff['date_cond1']

    #Condition two populate
    f5 = dff['date_cond2'].notnull()
    dff.loc[f5,'date_final'] = dff['date_cond2']

    # Condition 3 populate
    f6 = dff['cond2'].isnull() & dff['cond3'].notnull()
    dff.loc[f6, 'date_final'] = dff['date_cond3']

    # Condition 4 populate
    f7 = dff['date_final'].isnull()
    dff.loc[f7, 'date_final'] = dff['date_cond4']

    #return final sorted series in the format specified 
    final = dff['date_final'].sort_values()
    l1 = list(final.index)
    fSer = pd.Series(l1) 



    
    return fSer

## Old Workings from this point below ** please ignore **

In [630]:
import re
new = []
cond1 = r'(?:\d{1,2}[-/])?\d{1,2}[-/]\d{2,4}'
cond2 = r'(?:\d{1,2})?[-., ]+(?:Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})[-., ]+(?:\d{2,4})'
cond3 = r'(?:Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})(?:[-., ]+(?:\d{1,2})(?:[a-z]{2})?)?[-., ]+(?:\d{2,4})'
cond4 = r'(19\d\d|20\d\d)'
for line in df:
    search = []
    search = re.findall(cond1, line)
    if search == []:
        search = re.findall(cond2, line)
        if search == []:
            search = re.findall(cond3, line)
            if search == []:
                search = re.findall(cond4, line)
                if search ==[]:
                    new.append('0')
                else:
                    new.append(search)
            else:
                new.append(search)
        else:
            new.append(search)
    else:
        new.append(search)

In [648]:
list1 = []
list2 = []
list3 = []
list4 = []
cond1 = r'(?:\d{1,2}[-/])?\d{1,2}[-/]\d{2,4}'
cond2 = r'(?:\d{1,2})?[-., ]+(?:Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})[-., ]+(?:\d{2,4})'
cond3 = r'(?:Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})(?:[-., ]+(?:\d{1,2})(?:[a-z]{2})?)?[-., ]+(?:\d{2,4})'
cond4 = r'(19\d\d|20\d\d)'
for line in df:
 
    search1 = []
    search2 = []
    search3 = []
    search4 = []
    
    search1 = re.findall(cond1, line)
    search2 = re.findall(cond2, line)
    search3 = re.findall(cond3, line)
    search4 = re.findall(cond4, line)
    
    list1.append(search1)
    list2.append(search2)
    list3.append(search3)
    list4.append(search4)

In [663]:
dff = pd.DataFrame(df)
dff['cond1']= list1
dff['cond2'] = list2
dff['cond3'] = list3
dff['cond4'] = list4
dff['cond1'] = dff['cond1'].apply(lambda x: np.nan if x==[] else x)
dff['cond2'] = dff['cond2'].apply(lambda x: np.nan if x==[] else x)
dff['cond3'] = dff['cond3'].apply(lambda x: np.nan if x==[] else x)
dff['cond4'] = dff['cond4'].apply(lambda x: np.nan if x==[] else x)
dff

,0,cond1,cond2,cond3,cond4
0,03/25/93 Total time of visit (in minutes):\n,[03/25/93],NaN,NaN,NaN
1,6/18/85 Primary Care Doctor:\n,[6/18/85],NaN,NaN,NaN
2,sshe plans to move as of 7/8/71 In-Home Servic...,[7/8/71],NaN,NaN,NaN
3,7 on 9/27/75 Audit C Score Current:\n,[9/27/75],NaN,NaN,NaN
4,2/6/96 sleep studyPain Treatment Pain Level (N...,[2/6/96],NaN,NaN,NaN
5,.Per 7/06/79 Movement D/O note:\n,[7/06/79],NaN,NaN,NaN
6,"4, 5/18/78 Patient's thoughts about current su...",[5/18/78],NaN,NaN,NaN
7,10/24/89 CPT Code: 90801 - Psychiatric Diagnos...,[10/24/89],NaN,NaN,NaN
8,3/7/86 SOS-10 Total Score:\n,[3/7/86],NaN,NaN,NaN
9,(4/10/71)Score-1Audit C Score Current:\n,[4/10/71],NaN,NaN,NaN
10,"(5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...","[5/11/85, 16/22]",NaN,NaN,NaN
11,4/09/75 SOS-10 Total Score:\n,[4/09/75],NaN,NaN,NaN
12,8/01/98 Communication with referring physician...,[8/01/98],NaN,NaN,NaN
13,1/26/72 Communication with referring physician...,[1/26/72],NaN,NaN,NaN
14,5/24/1990 CPT Code: 90792: With medical servic...,[5/24/1990],NaN,NaN,[1990]
15,1/25/2011 CPT Code: 90792: With medical servic...,[1/25/2011],NaN,NaN,[2011]
16,4/12/82 Total time of visit (in minutes):\n,[4/12/82],NaN,NaN,NaN
17,"1; 10/13/1976 Audit C Score, Highest/Date:\n",[10/13/1976],NaN,NaN,[1976]
18,"4, 4/24/98 Relevant Drug History:\n",[4/24/98],NaN,NaN,NaN
19,) 59 yo unemployed w referred by Urgent Care f...,[5/21/77],NaN,NaN,NaN
20,7/21/98 Total time of visit (in minutes):\n,[7/21/98],NaN,NaN,NaN
21,10/21/79 SOS-10 Total Score:\n,[10/21/79],NaN,NaN,NaN
22,3/03/90 CPT Code: 90792: With medical services\n,[3/03/90],NaN,NaN,NaN
23,2/11/76 CPT Code: 90792: With medical services\n,[2/11/76],NaN,NaN,NaN
24,07/25/1984 CPT Code: 90791: No medical services\n,[07/25/1984],NaN,NaN,[1984]
25,4-13-82 Other Child Mental Health Outcomes Sca...,[4-13-82],NaN,NaN,NaN
26,9/22/89 CPT Code: 90792: With medical services\n,[9/22/89],NaN,NaN,NaN
27,9/02/76 CPT Code: 90791: No medical services\n,[9/02/76],NaN,NaN,NaN
28,9/12/71 [report_end]\n,[9/12/71],NaN,NaN,NaN
29,10/24/86 Communication with referring physicia...,[10/24/86],NaN,NaN,NaN
...,...,...,...,...,...
470,"y1983 Clinic Hospital, first hospitalization, ...",NaN,NaN,NaN,[1983]
471,tProblems Urinary incontinence : mild urge inc...,NaN,NaN,NaN,[1999]
472,.2010 - wife; nightmares and angry outbursts; ...,NaN,NaN,NaN,[2010]
473,shx of TBI (1975) ISO MVA.Medical History:\n,NaN,NaN,NaN,[1975]
474,sPatient reported losing three friends that pa...,NaN,NaN,NaN,[1972]
475,TSH okay in 2015 Prior EKG:\n,NaN,NaN,NaN,[2015]
476,1989 Family Psych History: Family History of S...,NaN,NaN,NaN,[1989]
477,"oEnjoys animals, had a dog x 14 yrs who died i...",NaN,NaN,NaN,[1994]
478,eHistory of small right parietal subgaleal hem...,NaN,NaN,NaN,[1993]
479,sIn KEP Psychiatryfor therapy and medications ...,NaN,NaN,NaN,[1996]
480,"1. Esophageal cancer, dx: 2013, on FOLFOX with...",NaN,NaN,NaN,[2013]
481,y1974 (all)\n,NaN,NaN,NaN,[1974]
482,h/o restraining order by sister/mother in 1990...,NaN,NaN,NaN,[1990]
483,sTexas Medical Center; Oklahoma for 2 weeks; 1...,NaN,NaN,NaN,[1995]
484,Death of former partner in 2004 by overdose as...,NaN,NaN,NaN,[2004]
485,"Was ""average"" student. ""I didn't have too man...",NaN,NaN,NaN,[1987]
486,Contemplating jumping off building - 1973 - di...,NaN,NaN,NaN,[1973]
487,appendectomy s/p delivery 1992 Prior relevant ...,NaN,NaN,NaN,[1992]
488,tProblems renal cell cancer : s/p nephrectomy ...,NaN,NaN,NaN,[1977]
489,"ran own business for 35 years, sold in 1985\n",NaN,NaN,NaN,[1985]
490,Lab: B12 969 2007\n,NaN,NaN,NaN,[2007]
491,)and 8mo in 2009\n,NaN,NaN,NaN,[2009]
492,.Moved to USA in 1986. Suffered from malnutrit...,NaN,NaN,NaN,[1986]
493,r1978\n,NaN,NaN,NaN,[1978]
494,". Went to Emerson, in Newfane Alaska. Started ...",NaN,NaN,NaN,[2002]
495,1979 Family Psych History: Family History of S...,NaN,NaN,NaN,[1979]
496,therapist and friend died in ~2006 Parental/Ca...,NaN,NaN,NaN,[2006]
497,2008 partial thyroidectomy\n,NaN,NaN,NaN,[2008]
498,sPt describes a history of sexual abuse as a c...,NaN,NaN,NaN,[2005]
499,". In 1980, patient was living in Naples and de...",NaN,NaN,NaN,[1980]

In [2]:
dff[dff['cond1'].notnull() & dff['cond2'].notnull()]D

NameError: name 'dff' is not defined

In [625]:
newdff = pd.DataFrame(new)
#newdff.rename(columns={0:'RawDate', 1:'Empty'}, inplace =True)
newdff

              0      1
0      03/25/93   None
1       6/18/85   None
2        7/8/71   None
3       9/27/75   None
4        2/6/96   None
5       7/06/79   None
6       5/18/78   None
7      10/24/89   None
8        3/7/86   None
9       4/10/71   None
10      5/11/85  16/22
11      4/09/75   None
12      8/01/98   None
13      1/26/72   None
14    5/24/1990   None
15    1/25/2011   None
16      4/12/82   None
17   10/13/1976   None
18      4/24/98   None
19      5/21/77   None
20      7/21/98   None
21     10/21/79   None
22      3/03/90   None
23      2/11/76   None
24   07/25/1984   None
25      4-13-82   None
26      9/22/89   None
27      9/02/76   None
28      9/12/71   None
29     10/24/86   None
..          ...    ...
470        1983   None
471        1999   None
472        2010   None
473        1975   None
474        1972   None
475        2015   None
476        1989   None
477        1994   None
478        1993   None
479        1996   None
480        2013   None
481        1974   None
482        1990   None
483        1995   None
484        2004   None
485        1987   None
486        1973   None
487        1992   None
488        1977   None
489        1985   None
490        2007   None
491        2009   None
492        1986   None
493        1978   None
494        2002   None
495        1979   None
496        2006   None
497        2008   None
498        2005   None
499        1980   None

[500 rows x 2 columns]

In [517]:
newdff[newdff[0]=="0"]

Empty DataFrame
Columns: [0, 1]
Index: []

In [518]:
newdff.iloc[300:350]

                    0     1
300      January 1994  None
301          Dec 1992  None
302     November 2004  None
303      January 1977  None
304          Mar 2002  None
305          Feb 2000  None
306         May, 2004  None
307         July 2006  None
308          Feb 1994  None
309        April 1977  None
310        , Oct 1992  None
311    February, 1995  None
312     February 1989  None
313    Decemeber 1978  None
314      January 2007  None
315          Jun 1976  None
316          May 2011  None
317       - Mar, 1975  None
318          Jan 1978  None
319         July 1975  None
320     November 2012  None
321        June, 1999  None
322      October 1991  None
323        March 1973  None
324      October 1996  None
325          Jun 2007  None
326      October 1995  None
327        April 1999  None
328         May, 2001  None
329       March, 2000  None
330        April 1988  None
331     December 1993  None
332         June 1974  None
333     November 1997  None
334         July 1986  None
335     February 1973  None
336        March 1978  None
337          Dec 2007  None
338         Apr, 1998  None
339       March, 2005  None
340          May 1980  None
341         .Nov 2007  None
342        March 1976  None
343            6/1998  None
344            6/2005  None
345           10/1973  None
346            9/2005  None
347           03/1980  None
348           12/2005  None
349            5/1987  None

In [519]:
new = newdff[0].str.extractall(r'(?P<datetime>(?P<day>\d{1,2})?[-/](?P<month>\d{1,2})[-/](?P<year>\d{2,4}))')
#newdff[0].str.extractall(r'(?P<day>\d{1,2})?[-., ]+((?P<month>Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})[-., ]+(?P<year>\d{2,4}))')
new

             datetime day month  year
    match
0   0        03/25/93  03    25    93
1   0         6/18/85   6    18    85
2   0          7/8/71   7     8    71
3   0         9/27/75   9    27    75
4   0          2/6/96   2     6    96
5   0         7/06/79   7    06    79
6   0         5/18/78   5    18    78
7   0        10/24/89  10    24    89
8   0          3/7/86   3     7    86
9   0         4/10/71   4    10    71
10  0         5/11/85   5    11    85
11  0         4/09/75   4    09    75
12  0         8/01/98   8    01    98
13  0         1/26/72   1    26    72
14  0       5/24/1990   5    24  1990
15  0       1/25/2011   1    25  2011
16  0         4/12/82   4    12    82
17  0      10/13/1976  10    13  1976
18  0         4/24/98   4    24    98
19  0         5/21/77   5    21    77
20  0         7/21/98   7    21    98
21  0        10/21/79  10    21    79
22  0         3/03/90   3    03    90
23  0         2/11/76   2    11    76
24  0      07/25/1984  07    25  1984
25  0         4-13-82   4    13    82
26  0         9/22/89   9    22    89
27  0         9/02/76   9    02    76
28  0         9/12/71   9    12    71
29  0        10/24/86  10    24    86
...               ...  ..   ...   ...
95  0       4/11/1974   4    11  1974
96  0         7/18/86   7    18    86
97  0         3/31/91   3    31    91
98  0         5/13/72   5    13    72
99  0        11/14/83  11    14    83
100 0         8/16/92   8    16    92
101 0        10/05/97  10    05    97
102 0      07/18/2002  07    18  2002
103 0         9/22/82   9    22    82
104 0         2/24/74   2    24    74
105 0         2/03/78   2    03    78
106 0       2/11/2006   2    11  2006
107 0         8/22/83   8    22    83
108 0         5/04/74   5    04    74
109 0       7/20/2011   7    20  2011
110 0         6/17/95   6    17    95
111 0         6/10/72   6    10    72
112 0        10/16/82  10    16    82
113 0        12/15/92  12    15    92
114 0         12/8/97  12     8    97
115 0         4/05/89   4    05    89
116 0        12/04/87  12    04    87
117 0         6/20/77   6    20    77
118 0       4/27/2006   4    27  2006
119 0        07/17/92  07    17    92
120 0        12/22/98  12    22    98
121 0        10/02/96  10    02    96
122 0        11/05/90  11    05    90
123 0         5/04/77   5    04    77
124 0         2/27/96   2    27    96

[124 rows x 4 columns]

In [520]:
new['day'] = new['day'].apply(lambda x: '0'+x if len(x) ==1 else x)
new['month'] = new['month'].apply(lambda x: '0'+x if len(x) ==1 else x)
new['year'] = new['year'].apply(lambda x: '19'+x if len(x) ==2 else x)
#    '0' + new['day'].astype(str)
new['date'] = new['year']+new['month']+new['day']

new.drop(columns=(['day', 'month', 'year']), inplace=True)

In [521]:
newdff = newdff.merge(new, how= 'outer' , right_on='datetime', left_on=0)

In [522]:
newdff.loc[300:400]

                    0     1 datetime date
300      January 1994  None      NaN  NaN
301          Dec 1992  None      NaN  NaN
302     November 2004  None      NaN  NaN
303      January 1977  None      NaN  NaN
304          Mar 2002  None      NaN  NaN
305          Feb 2000  None      NaN  NaN
306         May, 2004  None      NaN  NaN
307         July 2006  None      NaN  NaN
308          Feb 1994  None      NaN  NaN
309        April 1977  None      NaN  NaN
310        , Oct 1992  None      NaN  NaN
311    February, 1995  None      NaN  NaN
312     February 1989  None      NaN  NaN
313    Decemeber 1978  None      NaN  NaN
314      January 2007  None      NaN  NaN
315          Jun 1976  None      NaN  NaN
316          May 2011  None      NaN  NaN
317       - Mar, 1975  None      NaN  NaN
318          Jan 1978  None      NaN  NaN
319         July 1975  None      NaN  NaN
320     November 2012  None      NaN  NaN
321        June, 1999  None      NaN  NaN
322      October 1991  None      NaN  NaN
323        March 1973  None      NaN  NaN
324      October 1996  None      NaN  NaN
325          Jun 2007  None      NaN  NaN
326      October 1995  None      NaN  NaN
327        April 1999  None      NaN  NaN
328         May, 2001  None      NaN  NaN
329       March, 2000  None      NaN  NaN
..                ...   ...      ...  ...
371            1/2009  None      NaN  NaN
372            5/1995  None      NaN  NaN
373            8/1989  None      NaN  NaN
374           11/2000  None      NaN  NaN
375           06/1973  None      NaN  NaN
376            2/1999  None      NaN  NaN
377            6/2001  None      NaN  NaN
378           12/1978  None      NaN  NaN
379            8/2009  None      NaN  NaN
380            7/1973  None      NaN  NaN
381            1/2014  None      NaN  NaN
382           09/1975  None      NaN  NaN
383           12/2012  None      NaN  NaN
384            5/1999  None      NaN  NaN
385            7/1989  None      NaN  NaN
386            7/2009  None      NaN  NaN
387           11/1998  None      NaN  NaN
388            3/1995  None      NaN  NaN
389            2/2009  None      NaN  NaN
390           08/1988  None      NaN  NaN
391            4/2007  None      NaN  NaN
392            5/2000  None      NaN  NaN
393            4/2012  None      NaN  NaN
394           10/2001  None      NaN  NaN
395            2/1977  None      NaN  NaN
396            8/2008  None      NaN  NaN
397            2/1983  None      NaN  NaN
398            5/1979  None      NaN  NaN
399            1/1992  None      NaN  NaN
400           11/2008  None      NaN  NaN

[101 rows x 4 columns]

In [523]:
new = newdff[0].str.extractall(r'(?P<day>\d{1,2})?[-., ]+(?P<month>Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})[-., ]+(?P<year>\d{2,4})')
new

           day      month  year
    match
125 0       24        Jan  2001
126 0       10        Sep  2004
127 0       26        May  1982
128 0       28       June  2002
129 0       06        May  1972
130 0       25        Oct  1987
131 0       14        Oct  1996
132 0       30        Nov  2007
133 0       28       June  1994
134 0       14        Jan  1981
135 0       10        Oct  1985
136 0       11   February  1985
137 0       10        Feb  1983
138 0       05        Feb  1992
139 0       21        Oct  2012
140 0       14        Feb  1995
141 0       30        May  2016
142 0       22        Jan  1996
143 0       14        Oct  1992
144 0       06        Oct  2003
145 0       18        Oct  1999
146 0       11        Nov  2004
147 0       30        May  2001
148 0       02        Feb  1978
149 0       09        Sep  1989
150 0       12      March  1980
151 0       22       June  1990
152 0       28        Sep  2015
153 0       13        Jan  1972
154 0       06        Mar  1974
...        ...        ...   ...
305 0      NaN        Feb  2000
307 0      NaN       July  2006
309 0      NaN      April  1977
310 0      NaN        Oct  1992
311 0      NaN   February  1995
312 0      NaN   February  1989
313 0      NaN  Decemeber  1978
314 0      NaN    January  2007
315 0      NaN        Jun  1976
316 0      NaN        May  2011
317 0      NaN        Mar  1975
319 0      NaN       July  1975
320 0      NaN   November  2012
322 0      NaN    October  1991
323 0      NaN      March  1973
325 0      NaN        Jun  2007
326 0      NaN    October  1995
327 0      NaN      April  1999
328 0      NaN        May  2001
329 0      NaN      March  2000
331 0      NaN   December  1993
332 0      NaN       June  1974
334 0      NaN       July  1986
335 0      NaN   February  1973
336 0      NaN      March  1978
337 0      NaN        Dec  2007
338 0      NaN        Apr  1998
339 0      NaN      March  2005
341 0      NaN        Nov  2007
342 0      NaN      March  1976

[175 rows x 3 columns]

In [524]:
new[new['year'].str.len() != 4]
new['year'] = new['year'].apply(lambda x: '19'+x if len(x) !=4 else x)

In [525]:
#new[new['day'].isnull()== True]['day'] = '01'

In [526]:
new['day'].fillna('01', inplace = True)
new['month'] = new['month'].apply(lambda x: x[:3] if len(x)>3 else x)
new

          day month  year
    match
125 0      24   Jan  2001
126 0      10   Sep  2004
127 0      26   May  1982
128 0      28   Jun  2002
129 0      06   May  1972
130 0      25   Oct  1987
131 0      14   Oct  1996
132 0      30   Nov  2007
133 0      28   Jun  1994
134 0      14   Jan  1981
135 0      10   Oct  1985
136 0      11   Feb  1985
137 0      10   Feb  1983
138 0      05   Feb  1992
139 0      21   Oct  2012
140 0      14   Feb  1995
141 0      30   May  2016
142 0      22   Jan  1996
143 0      14   Oct  1992
144 0      06   Oct  2003
145 0      18   Oct  1999
146 0      11   Nov  2004
147 0      30   May  2001
148 0      02   Feb  1978
149 0      09   Sep  1989
150 0      12   Mar  1980
151 0      22   Jun  1990
152 0      28   Sep  2015
153 0      13   Jan  1972
154 0      06   Mar  1974
...        ..   ...   ...
305 0      01   Feb  2000
307 0      01   Jul  2006
309 0      01   Apr  1977
310 0      01   Oct  1992
311 0      01   Feb  1995
312 0      01   Feb  1989
313 0      01   Dec  1978
314 0      01   Jan  2007
315 0      01   Jun  1976
316 0      01   May  2011
317 0      01   Mar  1975
319 0      01   Jul  1975
320 0      01   Nov  2012
322 0      01   Oct  1991
323 0      01   Mar  1973
325 0      01   Jun  2007
326 0      01   Oct  1995
327 0      01   Apr  1999
328 0      01   May  2001
329 0      01   Mar  2000
331 0      01   Dec  1993
332 0      01   Jun  1974
334 0      01   Jul  1986
335 0      01   Feb  1973
336 0      01   Mar  1978
337 0      01   Dec  2007
338 0      01   Apr  1998
339 0      01   Mar  2005
341 0      01   Nov  2007
342 0      01   Mar  1976

[175 rows x 3 columns]

In [527]:
monthDic = {'Jan':'01', 'Feb':'02', 'Mar':'03', 'Apr':'04', \
            'May':'05', 'Jun':'06', 'Jul':'07' ,'Aug':'08', 'Sep':'09',\
           'Oct':'10', 'Nov':'11', 'Dec':'12'}
new['month'] = new['month'].apply(lambda x: monthDic[x])

In [528]:
new['date'] = new['year']+new['month']+new['day']

In [529]:
new

          day month  year      date
    match
125 0      24    01  2001  20010124
126 0      10    09  2004  20040910
127 0      26    05  1982  19820526
128 0      28    06  2002  20020628
129 0      06    05  1972  19720506
130 0      25    10  1987  19871025
131 0      14    10  1996  19961014
132 0      30    11  2007  20071130
133 0      28    06  1994  19940628
134 0      14    01  1981  19810114
135 0      10    10  1985  19851010
136 0      11    02  1985  19850211
137 0      10    02  1983  19830210
138 0      05    02  1992  19920205
139 0      21    10  2012  20121021
140 0      14    02  1995  19950214
141 0      30    05  2016  20160530
142 0      22    01  1996  19960122
143 0      14    10  1992  19921014
144 0      06    10  2003  20031006
145 0      18    10  1999  19991018
146 0      11    11  2004  20041111
147 0      30    05  2001  20010530
148 0      02    02  1978  19780202
149 0      09    09  1989  19890909
150 0      12    03  1980  19800312
151 0      22    06  1990  19900622
152 0      28    09  2015  20150928
153 0      13    01  1972  19720113
154 0      06    03  1974  19740306
...        ..   ...   ...       ...
305 0      01    02  2000  20000201
307 0      01    07  2006  20060701
309 0      01    04  1977  19770401
310 0      01    10  1992  19921001
311 0      01    02  1995  19950201
312 0      01    02  1989  19890201
313 0      01    12  1978  19781201
314 0      01    01  2007  20070101
315 0      01    06  1976  19760601
316 0      01    05  2011  20110501
317 0      01    03  1975  19750301
319 0      01    07  1975  19750701
320 0      01    11  2012  20121101
322 0      01    10  1991  19911001
323 0      01    03  1973  19730301
325 0      01    06  2007  20070601
326 0      01    10  1995  19951001
327 0      01    04  1999  19990401
328 0      01    05  2001  20010501
329 0      01    03  2000  20000301
331 0      01    12  1993  19931201
332 0      01    06  1974  19740601
334 0      01    07  1986  19860701
335 0      01    02  1973  19730201
336 0      01    03  1978  19780301
337 0      01    12  2007  20071201
338 0      01    04  1998  19980401
339 0      01    03  2005  20050301
341 0      01    11  2007  20071101
342 0      01    03  1976  19760301

[175 rows x 4 columns]

In [530]:
new = new.droplevel(level =1, axis=0)
newdff = newdff.merge(new, how= 'outer' , left_index=True, right_index =True)
newdff['date_x'] = newdff['date_x'].fillna(newdff['date_y'])
newdff.iloc[300:342]

                    0     1 datetime    date_x  day month  year    date_y
300      January 1994  None      NaN  19940101   01    01  1994  19940101
301          Dec 1992  None      NaN  19921201   01    12  1992  19921201
302     November 2004  None      NaN  20041101   01    11  2004  20041101
303      January 1977  None      NaN  19770101   01    01  1977  19770101
304          Mar 2002  None      NaN  20020301   01    03  2002  20020301
305          Feb 2000  None      NaN  20000201   01    02  2000  20000201
306         May, 2004  None      NaN       NaN  NaN   NaN   NaN       NaN
307         July 2006  None      NaN  20060701   01    07  2006  20060701
308          Feb 1994  None      NaN       NaN  NaN   NaN   NaN       NaN
309        April 1977  None      NaN  19770401   01    04  1977  19770401
310        , Oct 1992  None      NaN  19921001   01    10  1992  19921001
311    February, 1995  None      NaN  19950201   01    02  1995  19950201
312     February 1989  None      NaN  19890201   01    02  1989  19890201
313    Decemeber 1978  None      NaN  19781201   01    12  1978  19781201
314      January 2007  None      NaN  20070101   01    01  2007  20070101
315          Jun 1976  None      NaN  19760601   01    06  1976  19760601
316          May 2011  None      NaN  20110501   01    05  2011  20110501
317       - Mar, 1975  None      NaN  19750301   01    03  1975  19750301
318          Jan 1978  None      NaN       NaN  NaN   NaN   NaN       NaN
319         July 1975  None      NaN  19750701   01    07  1975  19750701
320     November 2012  None      NaN  20121101   01    11  2012  20121101
321        June, 1999  None      NaN       NaN  NaN   NaN   NaN       NaN
322      October 1991  None      NaN  19911001   01    10  1991  19911001
323        March 1973  None      NaN  19730301   01    03  1973  19730301
324      October 1996  None      NaN       NaN  NaN   NaN   NaN       NaN
325          Jun 2007  None      NaN  20070601   01    06  2007  20070601
326      October 1995  None      NaN  19951001   01    10  1995  19951001
327        April 1999  None      NaN  19990401   01    04  1999  19990401
328         May, 2001  None      NaN  20010501   01    05  2001  20010501
329       March, 2000  None      NaN  20000301   01    03  2000  20000301
330        April 1988  None      NaN       NaN  NaN   NaN   NaN       NaN
331     December 1993  None      NaN  19931201   01    12  1993  19931201
332         June 1974  None      NaN  19740601   01    06  1974  19740601
333     November 1997  None      NaN       NaN  NaN   NaN   NaN       NaN
334         July 1986  None      NaN  19860701   01    07  1986  19860701
335     February 1973  None      NaN  19730201   01    02  1973  19730201
336        March 1978  None      NaN  19780301   01    03  1978  19780301
337          Dec 2007  None      NaN  20071201   01    12  2007  20071201
338         Apr, 1998  None      NaN  19980401   01    04  1998  19980401
339       March, 2005  None      NaN  20050301   01    03  2005  20050301
340          May 1980  None      NaN       NaN  NaN   NaN   NaN       NaN
341         .Nov 2007  None      NaN  20071101   01    11  2007  20071101

In [531]:
newdff.drop(columns = ['datetime', 'day', 'month', 'year', 'date_y'], inplace=True)
newdff.rename(columns={'date_x': 'date'}, inplace=True)

In [532]:
newdff[newdff['date'].isnull()]

                       0        1 date
80                 10-15  6/29/81  NaN
194       April 11, 1990     None  NaN
200        July 26, 1978     None  NaN
202         May 15, 1989     None  NaN
203   September 06, 1995     None  NaN
204        Mar. 10, 1976     None  NaN
208   September 01, 2012     None  NaN
209        July 25, 1983     None  NaN
210      August 11, 1989     None  NaN
211       April 17, 1992     None  NaN
213        July 11, 1997     None  NaN
216         Nov 11, 1988     None  NaN
218         May 14, 1989     None  NaN
221         Oct 18, 1980     None  NaN
222         May 15, 1998     None  NaN
224        July 25, 1998     None  NaN
225        June 15, 1972     None  NaN
227  September. 15, 2011     None  NaN
229            June 2011     None  NaN
235             Oct 2015     None  NaN
245        November 1990     None  NaN
247             May 1983     None  NaN
248               50-100     None  NaN
250             May 2005     None  NaN
251        December 1998     None  NaN
256             Aug 1988     None  NaN
266       September 1999     None  NaN
270            May, 2006     None  NaN
271               08-810     None  NaN
272                11-16    14-17  NaN
..                   ...      ...  ...
470                 1983     None  NaN
471                 1999     None  NaN
472                 2010     None  NaN
473                 1975     None  NaN
474                 1972     None  NaN
475                 2015     None  NaN
476                 1989     None  NaN
477                 1994     None  NaN
478                 1993     None  NaN
479                 1996     None  NaN
480                 2013     None  NaN
481                 1974     None  NaN
482                 1990     None  NaN
483                 1995     None  NaN
484                 2004     None  NaN
485                 1987     None  NaN
486                 1973     None  NaN
487                 1992     None  NaN
488                 1977     None  NaN
489                 1985     None  NaN
490                 2007     None  NaN
491                 2009     None  NaN
492                 1986     None  NaN
493                 1978     None  NaN
494                 2002     None  NaN
495                 1979     None  NaN
496                 2006     None  NaN
497                 2008     None  NaN
498                 2005     None  NaN
499                 1980     None  NaN

[201 rows x 3 columns]

In [533]:
dd = newdff[0].str.extractall(r'((Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})([-., ]+(\d{1,2})([a-z]{2})?)?[-., ]+(\d{2,4}))')
#text1 = 'soemsa fians aisn March 2nd 2009 aisdnais  2'
#newdff.iloc[300:350]
dd.loc[200:]

                             0          1     2    3   4     5
    match
200 0            July 26, 1978       July    26   26 NaN  1978
201 0              December 23   December   NaN  NaN NaN    23
202 0             May 15, 1989        May    15   15 NaN  1989
203 0       September 06, 1995  September    06   06 NaN  1995
204 0            Mar. 10, 1976        Mar  . 10   10 NaN  1976
205 0                   Jan 27        Jan   NaN  NaN NaN    27
206 0               October 23    October   NaN  NaN NaN    23
207 0                August 12     August   NaN  NaN NaN    12
208 0       September 01, 2012  September    01   01 NaN  2012
209 0            July 25, 1983       July    25   25 NaN  1983
210 0          August 11, 1989     August    11   11 NaN  1989
211 0           April 17, 1992      April    17   17 NaN  1992
212 0                  July 24       July   NaN  NaN NaN    24
213 0            July 11, 1997       July    11   11 NaN  1997
214 0                  Sep. 10        Sep   NaN  NaN NaN    10
215 0                August 14     August   NaN  NaN NaN    14
216 0             Nov 11, 1988        Nov    11   11 NaN  1988
217 0                  June 13       June   NaN  NaN NaN    13
218 0             May 14, 1989        May    14   14 NaN  1989
219 0                   Dec 14        Dec   NaN  NaN NaN    14
220 0                  June 25       June   NaN  NaN NaN    25
221 0             Oct 18, 1980        Oct    18   18 NaN  1980
222 0             May 15, 1998        May    15   15 NaN  1998
223 0               October 14    October   NaN  NaN NaN    14
224 0            July 25, 1998       July    25   25 NaN  1998
225 0            June 15, 1972       June    15   15 NaN  1972
226 0               January 07    January   NaN  NaN NaN    07
227 0      September. 15, 2011  September  . 15   15 NaN  2011
228 0           September 1985  September   NaN  NaN NaN  1985
229 0                June 2011       June   NaN  NaN NaN  2011
...                        ...        ...   ...  ...  ..   ...
313 0           Decemeber 1978  Decemeber   NaN  NaN NaN  1978
314 0             January 2007    January   NaN  NaN NaN  2007
315 0                 Jun 1976        Jun   NaN  NaN NaN  1976
316 0                 May 2011        May   NaN  NaN NaN  2011
317 0                Mar, 1975        Mar   NaN  NaN NaN  1975
318 0                 Jan 1978        Jan   NaN  NaN NaN  1978
319 0                July 1975       July   NaN  NaN NaN  1975
320 0            November 2012   November   NaN  NaN NaN  2012
321 0               June, 1999       June   NaN  NaN NaN  1999
322 0             October 1991    October   NaN  NaN NaN  1991
323 0               March 1973      March   NaN  NaN NaN  1973
324 0             October 1996    October   NaN  NaN NaN  1996
325 0                 Jun 2007        Jun   NaN  NaN NaN  2007
326 0             October 1995    October   NaN  NaN NaN  1995
327 0               April 1999      April   NaN  NaN NaN  1999
328 0                May, 2001        May   NaN  NaN NaN  2001
329 0              March, 2000      March   NaN  NaN NaN  2000
330 0               April 1988      April   NaN  NaN NaN  1988
331 0            December 1993   December   NaN  NaN NaN  1993
332 0                June 1974       June   NaN  NaN NaN  1974
333 0            November 1997   November   NaN  NaN NaN  1997
334 0                July 1986       July   NaN  NaN NaN  1986
335 0            February 1973   February   NaN  NaN NaN  1973
336 0               March 1978      March   NaN  NaN NaN  1978
337 0                 Dec 2007        Dec   NaN  NaN NaN  2007
338 0                Apr, 1998        Apr   NaN  NaN NaN  1998
339 0              March, 2005      March   NaN  NaN NaN  2005
340 0                 May 1980        May   NaN  NaN NaN  1980
341 0                 Nov 2007        Nov   NaN  NaN NaN  2007
342 0               March 1976      March   NaN  NaN NaN  1976

[140 rows x 6 columns]

In [535]:
dd[2]=dd[2].str.replace(r'(?:[.]+)', '') # few enteries with '.' need to be taken cleaned
dd[2]= dd[2].str.strip() # strip white spaces in date field
dd[dd[2].str.len()>2] # make sure no more invalid values

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5]
Index: []

In [536]:
dd.rename(columns= {1:"month", 2: 'day', 3:'day_dup', 4:'Null', 5:'year'}, inplace=True)

In [537]:
dd['month'] = dd['month'].apply(lambda x: x[:3] if len(x)>3 else x)
dd['month'] = dd['month'].apply(lambda x: monthDic[x])

In [538]:
dd['day'].fillna('01', inplace = True) # add 01 for all the missing days
dd['year'] = dd['year'].apply(lambda x: '19'+x if len(x)==2 else x) # add 19 to 2 digit years
dd['date'] = dd['year']+dd['month']+dd['day'] # combine date

In [539]:
dd[dd['date'].str.len()<8] #make sure no invalid enteries

Empty DataFrame
Columns: [0, month, day, day_dup, Null, year, date]
Index: []

In [540]:
dd.drop(columns = [0, 'month', 'day', 'day_dup', 'Null', 'year'], inplace=True)
dd= dd.droplevel(level=1, axis=0)

In [544]:
dd.loc[194]

date    19900411
Name: 194, dtype: object

In [542]:
newdff = newdff.merge(dd, how= 'outer' , left_index=True, right_index =True)

In [548]:
newdff[newdff['date_x'].isnull()]

           0        1 date_x date_y
80     10-15  6/29/81    NaN    NaN
248   50-100     None    NaN    NaN
271   08-810     None    NaN    NaN
272    11-16    14-17    NaN    NaN
343   6/1998     None    NaN    NaN
344   6/2005     None    NaN    NaN
345  10/1973     None    NaN    NaN
346   9/2005     None    NaN    NaN
347  03/1980     None    NaN    NaN
348  12/2005     None    NaN    NaN
349   5/1987     None    NaN    NaN
350   5/2004     None    NaN    NaN
351   8/1974     None    NaN    NaN
352   3/1986     None    NaN    NaN
353  10/1997     None    NaN    NaN
354   3/1993     None    NaN    NaN
355   3/1981     None    NaN    NaN
356   9/2003     None    NaN    NaN
357  10/1993     None    NaN    NaN
358   1/1983     None    NaN    NaN
359   7/1994     None    NaN    NaN
360  12/2008     None    NaN    NaN
361  10/1980     None    NaN    NaN
362   8/2003     None    NaN    NaN
363  12/1975     None    NaN    NaN
364  11/2010     None    NaN    NaN
365   7/1997     None    NaN    NaN
366   7/2014     None    NaN    NaN
367   9/2001     None    NaN    NaN
368   8/1986     None    NaN    NaN
..       ...      ...    ...    ...
470     1983     None    NaN    NaN
471     1999     None    NaN    NaN
472     2010     None    NaN    NaN
473     1975     None    NaN    NaN
474     1972     None    NaN    NaN
475     2015     None    NaN    NaN
476     1989     None    NaN    NaN
477     1994     None    NaN    NaN
478     1993     None    NaN    NaN
479     1996     None    NaN    NaN
480     2013     None    NaN    NaN
481     1974     None    NaN    NaN
482     1990     None    NaN    NaN
483     1995     None    NaN    NaN
484     2004     None    NaN    NaN
485     1987     None    NaN    NaN
486     1973     None    NaN    NaN
487     1992     None    NaN    NaN
488     1977     None    NaN    NaN
489     1985     None    NaN    NaN
490     2007     None    NaN    NaN
491     2009     None    NaN    NaN
492     1986     None    NaN    NaN
493     1978     None    NaN    NaN
494     2002     None    NaN    NaN
495     1979     None    NaN    NaN
496     2006     None    NaN    NaN
497     2008     None    NaN    NaN
498     2005     None    NaN    NaN
499     1980     None    NaN    NaN

[161 rows x 4 columns]

In [545]:
newdff['date_x']=newdff['date_x'].fillna(newdff['date_y'])

In [549]:
fin = newdff[newdff['date_x'].isnull()]
fin[0].apply(lambda x: x if len(x)==4 else 0)
fin

           0        1 date_x date_y
80     10-15  6/29/81    NaN    NaN
248   50-100     None    NaN    NaN
271   08-810     None    NaN    NaN
272    11-16    14-17    NaN    NaN
343   6/1998     None    NaN    NaN
344   6/2005     None    NaN    NaN
345  10/1973     None    NaN    NaN
346   9/2005     None    NaN    NaN
347  03/1980     None    NaN    NaN
348  12/2005     None    NaN    NaN
349   5/1987     None    NaN    NaN
350   5/2004     None    NaN    NaN
351   8/1974     None    NaN    NaN
352   3/1986     None    NaN    NaN
353  10/1997     None    NaN    NaN
354   3/1993     None    NaN    NaN
355   3/1981     None    NaN    NaN
356   9/2003     None    NaN    NaN
357  10/1993     None    NaN    NaN
358   1/1983     None    NaN    NaN
359   7/1994     None    NaN    NaN
360  12/2008     None    NaN    NaN
361  10/1980     None    NaN    NaN
362   8/2003     None    NaN    NaN
363  12/1975     None    NaN    NaN
364  11/2010     None    NaN    NaN
365   7/1997     None    NaN    NaN
366   7/2014     None    NaN    NaN
367   9/2001     None    NaN    NaN
368   8/1986     None    NaN    NaN
..       ...      ...    ...    ...
470     1983     None    NaN    NaN
471     1999     None    NaN    NaN
472     2010     None    NaN    NaN
473     1975     None    NaN    NaN
474     1972     None    NaN    NaN
475     2015     None    NaN    NaN
476     1989     None    NaN    NaN
477     1994     None    NaN    NaN
478     1993     None    NaN    NaN
479     1996     None    NaN    NaN
480     2013     None    NaN    NaN
481     1974     None    NaN    NaN
482     1990     None    NaN    NaN
483     1995     None    NaN    NaN
484     2004     None    NaN    NaN
485     1987     None    NaN    NaN
486     1973     None    NaN    NaN
487     1992     None    NaN    NaN
488     1977     None    NaN    NaN
489     1985     None    NaN    NaN
490     2007     None    NaN    NaN
491     2009     None    NaN    NaN
492     1986     None    NaN    NaN
493     1978     None    NaN    NaN
494     2002     None    NaN    NaN
495     1979     None    NaN    NaN
496     2006     None    NaN    NaN
497     2008     None    NaN    NaN
498     2005     None    NaN    NaN
499     1980     None    NaN    NaN

[161 rows x 4 columns]

In [550]:
fin = fin[0].str.extractall(r'((\d{1,2}[-/])?(\d{1,2}[-/])?(\d{2,4}))') 
#fin[0].str.findall(r'(?:\d{1,2}[-/])?(?:\d{1,2}[-/])?(?:\d{2,4})') #
#newdff[0].str.findall(r'(\d{1,2}[-/]+)?(19\d\d|20\d\d)')
fin

                 0    1   2     3
    match
80  0        10-15  10- NaN    15
248 0       50-100  50- NaN   100
271 0       08-810  08- NaN   810
272 0        11-16  11- NaN    16
343 0       6/1998   6/ NaN  1998
344 0       6/2005   6/ NaN  2005
345 0      10/1973  10/ NaN  1973
346 0       9/2005   9/ NaN  2005
347 0      03/1980  03/ NaN  1980
348 0      12/2005  12/ NaN  2005
349 0       5/1987   5/ NaN  1987
350 0       5/2004   5/ NaN  2004
351 0       8/1974   8/ NaN  1974
352 0       3/1986   3/ NaN  1986
353 0      10/1997  10/ NaN  1997
354 0       3/1993   3/ NaN  1993
355 0       3/1981   3/ NaN  1981
356 0       9/2003   9/ NaN  2003
357 0      10/1993  10/ NaN  1993
358 0       1/1983   1/ NaN  1983
359 0       7/1994   7/ NaN  1994
360 0      12/2008  12/ NaN  2008
361 0      10/1980  10/ NaN  1980
362 0       8/2003   8/ NaN  2003
363 0      12/1975  12/ NaN  1975
364 0      11/2010  11/ NaN  2010
365 0       7/1997   7/ NaN  1997
366 0       7/2014   7/ NaN  2014
367 0       9/2001   9/ NaN  2001
368 0       8/1986   8/ NaN  1986
...            ...  ...  ..   ...
470 0         1983  NaN NaN  1983
471 0         1999  NaN NaN  1999
472 0         2010  NaN NaN  2010
473 0         1975  NaN NaN  1975
474 0         1972  NaN NaN  1972
475 0         2015  NaN NaN  2015
476 0         1989  NaN NaN  1989
477 0         1994  NaN NaN  1994
478 0         1993  NaN NaN  1993
479 0         1996  NaN NaN  1996
480 0         2013  NaN NaN  2013
481 0         1974  NaN NaN  1974
482 0         1990  NaN NaN  1990
483 0         1995  NaN NaN  1995
484 0         2004  NaN NaN  2004
485 0         1987  NaN NaN  1987
486 0         1973  NaN NaN  1973
487 0         1992  NaN NaN  1992
488 0         1977  NaN NaN  1977
489 0         1985  NaN NaN  1985
490 0         2007  NaN NaN  2007
491 0         2009  NaN NaN  2009
492 0         1986  NaN NaN  1986
493 0         1978  NaN NaN  1978
494 0         2002  NaN NaN  2002
495 0         1979  NaN NaN  1979
496 0         2006  NaN NaN  2006
497 0         2008  NaN NaN  2008
498 0         2005  NaN NaN  2005
499 0         1980  NaN NaN  1980

[161 rows x 4 columns]

In [551]:
#fin[1].apply(lambda x: if re.sub(r'[-/]', '', str(x)))
fin[1]=fin[1].replace(r'[/-]', '', regex=True)
fin

                 0    1   2     3
    match
80  0        10-15   10 NaN    15
248 0       50-100   50 NaN   100
271 0       08-810   08 NaN   810
272 0        11-16   11 NaN    16
343 0       6/1998    6 NaN  1998
344 0       6/2005    6 NaN  2005
345 0      10/1973   10 NaN  1973
346 0       9/2005    9 NaN  2005
347 0      03/1980   03 NaN  1980
348 0      12/2005   12 NaN  2005
349 0       5/1987    5 NaN  1987
350 0       5/2004    5 NaN  2004
351 0       8/1974    8 NaN  1974
352 0       3/1986    3 NaN  1986
353 0      10/1997   10 NaN  1997
354 0       3/1993    3 NaN  1993
355 0       3/1981    3 NaN  1981
356 0       9/2003    9 NaN  2003
357 0      10/1993   10 NaN  1993
358 0       1/1983    1 NaN  1983
359 0       7/1994    7 NaN  1994
360 0      12/2008   12 NaN  2008
361 0      10/1980   10 NaN  1980
362 0       8/2003    8 NaN  2003
363 0      12/1975   12 NaN  1975
364 0      11/2010   11 NaN  2010
365 0       7/1997    7 NaN  1997
366 0       7/2014    7 NaN  2014
367 0       9/2001    9 NaN  2001
368 0       8/1986    8 NaN  1986
...            ...  ...  ..   ...
470 0         1983  NaN NaN  1983
471 0         1999  NaN NaN  1999
472 0         2010  NaN NaN  2010
473 0         1975  NaN NaN  1975
474 0         1972  NaN NaN  1972
475 0         2015  NaN NaN  2015
476 0         1989  NaN NaN  1989
477 0         1994  NaN NaN  1994
478 0         1993  NaN NaN  1993
479 0         1996  NaN NaN  1996
480 0         2013  NaN NaN  2013
481 0         1974  NaN NaN  1974
482 0         1990  NaN NaN  1990
483 0         1995  NaN NaN  1995
484 0         2004  NaN NaN  2004
485 0         1987  NaN NaN  1987
486 0         1973  NaN NaN  1973
487 0         1992  NaN NaN  1992
488 0         1977  NaN NaN  1977
489 0         1985  NaN NaN  1985
490 0         2007  NaN NaN  2007
491 0         2009  NaN NaN  2009
492 0         1986  NaN NaN  1986
493 0         1978  NaN NaN  1978
494 0         2002  NaN NaN  2002
495 0         1979  NaN NaN  1979
496 0         2006  NaN NaN  2006
497 0         2008  NaN NaN  2008
498 0         2005  NaN NaN  2005
499 0         1980  NaN NaN  1980

[161 rows x 4 columns]

In [552]:
fin.rename(columns={0:'datetime', 1:'day', 2:'month', 3:'year'}, inplace=True)
fin['day'].fillna('01', inplace=True)
fin['month'].fillna('01', inplace=True)
fin['year'] = fin['year'].apply(lambda x: '19'+x if len(x)==2 else x)

In [555]:
fin['date'] = fin['year']+fin['month']+fin['day']
fin.drop(columns=['datetime', 'day', 'month', 'year'], inplace=True)
fin = fin.droplevel(level=1, axis=0)

    datetime      date
80     10-15  19150110
248   50-100   1000150
271   08-810   8100108
272    11-16  19160111
343   6/1998   1998016
344   6/2005   2005016
345  10/1973  19730110
346   9/2005   2005019
347  03/1980  19800103
348  12/2005  20050112
349   5/1987   1987015
350   5/2004   2004015
351   8/1974   1974018
352   3/1986   1986013
353  10/1997  19970110
354   3/1993   1993013
355   3/1981   1981013
356   9/2003   2003019
357  10/1993  19930110
358   1/1983   1983011
359   7/1994   1994017
360  12/2008  20080112
361  10/1980  19800110
362   8/2003   2003018
363  12/1975  19750112
364  11/2010  20100111
365   7/1997   1997017
366   7/2014   2014017
367   9/2001   2001019
368   8/1986   1986018
..       ...       ...
470     1983  19830101
471     1999  19990101
472     2010  20100101
473     1975  19750101
474     1972  19720101
475     2015  20150101
476     1989  19890101
477     1994  19940101
478     1993  19930101
479     1996  19960101
480     2013  20130101
481     1974  19740101
482     1990  19900101
483     1995  19950101
484     2004  20040101
485     1987  19870101
486     1973  19730101
487     1992  19920101
488     1977  19770101
489     1985  19850101
490     2007  20070101
491     2009  20090101
492     1986  19860101
493     1978  19780101
494     2002  20020101
495     1979  19790101
496     2006  20060101
497     2008  20080101
498     2005  20050101
499     1980  19800101

[161 rows x 2 columns]

In [567]:
newdff = newdff.merge(fin, how= 'outer' , left_index=True, right_index =True)

In [576]:
newdff['date_x'] = newdff['date_x'].fillna(newdff['date'])
newdff.drop(columns=['date_y', 'date'], inplace = True)
newdff.rename(columns={'date_x': 'date'}, inplace=True)

In [585]:
newdff['date'].sort_values()

248     1000150
226    19070101
214    19100901
198    19111001
207    19120801
217    19130601
215    19140801
223    19141001
219    19141201
80     19150110
272    19160111
197    19180201
196    19180201
206    19231001
201    19231201
199    19240101
212    19240701
220    19250601
205    19270101
195    19300501
2      19710807
9      19711004
53     19711107
28     19711209
84     19711805
474    19720101
153    19720113
129    19720506
225    19720615
171    19721004
         ...
282    20120501
243    20120901
208    20120901
139    20121021
320    20121101
34     20121205
244    20130101
480    20130101
286    20130101
431     2013014
279    20130901
463    20140101
381     2014011
439    20140110
401    20140112
366     2014017
255    20141001
475    20150101
257    20150901
152    20150928
235    20151001
464    20160101
413    20160111
427     2016015
253    20160201
231    20160501
141    20160530
186    20161013
161    20161019
271     8100108
Name: date, Length: 500, dtype: object

In [628]:
df[275]

'.   Ex-BF 25 yo, plans to go to sch in URUGUAY September 1984.\n'

In [629]:
newdff.loc[275]

0     September 1984
1               None
Name: 275, dtype: object

In [612]:
import re
new = []
cond1 = r'(?:\d{1,2}[-/])?\d{1,2}[-/]\d{2,4}'
cond3 = r'(?:\d{1,2})?[-., ]+(?:Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})[-., ]+(?:\d{2,4})'
cond2 = r'(?:Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})(?:[-., ]+(?:\d{1,2})(?:[a-z]{2})?)?[-., ]+(?:\d{2,4})'
cond4 = r'(19\d\d|20\d\d)'
for line in df:
    search = []
    search = re.findall(cond1, line)
    if search == []:
        search = re.findall(cond2, line)
        if search == []:
            search = re.findall(cond3, line)
            if search == []:
                search = re.findall(cond4, line)
                if search ==[]:
                    new.append('0')
                else:
                    new.append(search)
            else:
                new.append(search)
        else:
            new.append(search)
    else:
        new.append(search)
newdff = pd.DataFrame(new)
new = newdff[0].str.extractall(r'(?P<datetime>(?P<day>\d{1,2})?[-/](?P<month>\d{1,2})[-/](?P<year>\d{2,4}))')
new['day'] = new['day'].apply(lambda x: '0'+x if len(x) ==1 else x)
new['month'] = new['month'].apply(lambda x: '0'+x if len(x) ==1 else x)
new['year'] = new['year'].apply(lambda x: '19'+x if len(x) ==2 else x)
#    '0' + new['day'].astype(str)
new['date'] = new['year']+new['month']+new['day']

new.drop(columns=(['day', 'month', 'year']), inplace=True)
newdff = newdff.merge(new, how= 'outer' , right_on='datetime', left_on=0)
new = newdff[0].str.extractall(r'(?P<day>\d{1,2})?[-., ]+(?P<month>Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})[-., ]+(?P<year>\d{2,4})')
new[new['year'].str.len() != 4]
new['year'] = new['year'].apply(lambda x: '19'+x if len(x) !=4 else x)
new['day'].fillna('01', inplace = True)
new['month'] = new['month'].apply(lambda x: x[:3] if len(x)>3 else x)
monthDic = {'Jan':'01', 'Feb':'02', 'Mar':'03', 'Apr':'04', \
            'May':'05', 'Jun':'06', 'Jul':'07' ,'Aug':'08', 'Sep':'09',\
           'Oct':'10', 'Nov':'11', 'Dec':'12'}
new['month'] = new['month'].apply(lambda x: monthDic[x])
new['date'] = new['year']+new['month']+new['day']
new = new.droplevel(level =1, axis=0)
newdff = newdff.merge(new, how= 'outer' , left_index=True, right_index =True)
newdff['date_x'] = newdff['date_x'].fillna(newdff['date_y'])
newdff.drop(columns = ['datetime', 'day', 'month', 'year', 'date_y'], inplace=True)
newdff.rename(columns={'date_x': 'date'}, inplace=True)
dd = newdff[0].str.extractall(r'((Jan[a-z]{0,}|Feb[a-z]{0,}|Mar[a-z]{0,}|Apr[a-z]{0,}|May|Jun[a-z]{0,}|Jul[a-z]{0,}|Aug[a-z]{0,}|Sep[a-z]{0,}|Oct[a-z]{0,}|Nov[a-z]{0,}|Dec[a-z]{0,})([-., ]+(\d{1,2})([a-z]{2})?)?[-., ]+(\d{2,4}))')
dd[2]=dd[2].str.replace(r'(?:[.]+)', '') # few enteries with '.' need to be taken cleaned
dd[2]= dd[2].str.strip() # strip white spaces in date field
dd.rename(columns= {1:"month", 2: 'day', 3:'day_dup', 4:'Null', 5:'year'}, inplace=True)
dd['month'] = dd['month'].apply(lambda x: x[:3] if len(x)>3 else x)
dd['month'] = dd['month'].apply(lambda x: monthDic[x])
dd['day'].fillna('01', inplace = True) # add 01 for all the missing days
dd['year'] = dd['year'].apply(lambda x: '19'+x if len(x)==2 else x) # add 19 to 2 digit years
dd['date'] = dd['year']+dd['month']+dd['day'] # combine date
dd.drop(columns = [0, 'month', 'day', 'day_dup', 'Null', 'year'], inplace=True)
dd= dd.droplevel(level=1, axis=0)
newdff = newdff.merge(dd, how= 'outer' , left_index=True, right_index =True)
newdff['date_x']=newdff['date_x'].fillna(newdff['date_y'])
fin = newdff[newdff['date_x'].isnull()]
fin[0].apply(lambda x: x if len(x)==4 else 0)
fin = fin[0].str.extractall(r'((\d{1,2}[-/])?(\d{1,2}[-/])?(\d{2,4}))') 
fin[1]=fin[1].replace(r'[/-]', '', regex=True)
fin.rename(columns={0:'datetime', 1:'day', 2:'month', 3:'year'}, inplace=True)
fin['day'].fillna('01', inplace=True)
fin['month'].fillna('01', inplace=True)
fin['year'] = fin['year'].apply(lambda x: '19'+x if len(x)==2 else x)
fin['date'] = fin['year']+fin['month']+fin['day']
fin.drop(columns=['datetime', 'day', 'month', 'year'], inplace=True)
fin = fin.droplevel(level=1, axis=0)
newdff = newdff.merge(fin, how= 'outer' , left_index=True, right_index =True)
newdff['date_x'] = newdff['date_x'].fillna(newdff['date'])
newdff.drop(columns=['date_y', 'date'], inplace = True)
newdff.rename(columns={'date_x': 'date'}, inplace=True)
newdff['date'].sort_values()

253     1000150
80     19150110
275    19160111
2      19710807
9      19711004
53     19711107
28     19711209
84     19711805
474    19720101
159    19720101
129    19720501
232    19720615
179    19721001
111    19721006
198    19721101
98     19721305
31     19722007
13     19722601
486    19730101
405    19730103
375    19730106
345    19730110
57     19730112
415     1973012
422     1973014
380     1973017
336    19730201
325    19730301
36     19731402
481    19740101
         ...
215    20120901
248    20120901
140    20121001
322    20121101
34     20121205
480    20130101
289    20130101
249    20130101
431     2013014
282    20130901
205    20131011
463    20140101
381     2014011
439    20140110
401    20140112
366     2014017
260    20141001
475    20150101
158    20150901
157    20150901
241    20151001
464    20160101
413    20160111
427     2016015
258    20160201
143    20160501
142    20160501
169    20161001
168    20161001
274     8100108
Name: date, Length: 500, dtype: object