## WEEK 1

## Handling Text in Pyton

In [1]:
text1 = "One of the key problems today is that politics is such a disgrace, good people don't go into government"

In [3]:
len(text1)

103

In [4]:
text2 = text1.split()

In [6]:
len(text2)

19

In [9]:
[w for w in text2 if len(w) > 3]

['problems',
 'today',
 'that',
 'politics',
 'such',
 'disgrace,',
 'good',
 'people',
 "don't",
 'into',
 'government']

In [12]:
# istitle() checks if the first character is capital and others are small
[w for w in text2 if w.istitle()]

['One']

In [13]:
# endswith() checks string ends with
[w for w in text2 if w.endswith('s')]

['problems', 'is', 'politics', 'is']

In [1]:
text3 = "To be or not to be"
text4 = text3.split()
len(text4)

6

In [18]:
set(text4)  # set function to find unique words case sensitive

{'To', 'be', 'not', 'or', 'to'}

In [23]:
# to lower the text use lower() function
[w.lower() for w in text4]

['to', 'be', 'or', 'not', 'to', 'be']

In [24]:
set([w.lower() for w in text4]) #find unique words case unsensitive

{'be', 'not', 'or', 'to'}

### some word comparision function ... 

* .statswith()
* .endswith()
* t in s - check if string is a subset of another string.
* .isupper();islower();.istitle()
* .isalpha() - check if string is alphabets
* .isdigit() - check if string is numeric
* .isalnum() = check if string is made up of alphabetrs and numeric

In [6]:
temp = set(text4)
type(temp)

set

In [82]:
text5 = 'ouagadougou'
text6 = text5.split('ou')
text6

['', 'agad', 'g', '']

In [10]:
'ou'.join(text6)

'ouagadougou'

In [11]:
# to split the characters in a string that doesn't have spaces
list(text5)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [12]:
# or we can also use 
[c for c in text5]

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [27]:
# example to trim empty spaces in a string
text8 = '     A quick brown fox jumped over the lazy dog. '
text8.split() #splits all the empty spaces in the string into a list (including front and back)

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [30]:
text9 = text8.strip() #strip white spaces from a string and return a string
text9

'A quick brown fox jumped over the lazy dog.'

In [34]:
text9.find('o') #return character offset of where it finds the given character in a string

10

In [35]:
text9.rfind('o')

40

In [36]:
text9.replace('o', 'O')

'A quick brOwn fOx jumped Over the lazy dOg.'

In [38]:
f = open('random.txt', 'r')
f.readline()

'This is a Random text file\n'

In [39]:
f.seek(0)
text12 = f.read()

In [40]:
text12

'This is a Random text file\nline 1 of the file asda\nline 2 of the file qweq 12\nline 3 of the file 921 cas\nline 4 and so on  0123 '

In [41]:
text13 = text12.splitlines()

In [42]:
text13 # since the line was split based on \n- new line it's no longer part of the list

['This is a Random text file',
 'line 1 of the file asda',
 'line 2 of the file qweq 12',
 'line 3 of the file 921 cas',
 'line 4 and so on  0123 ']

In [44]:
text13[0]

'This is a Random text file'

<br>

We can use regular expressions to help us with more complex parsing. 

For example `'@[A-Za-z0-9_]+'` will return all words that: 
* start with `'@'` and are followed by at least one: 
* capital letter (`'A-Z'`)
* lowercase letter (`'a-z'`) 
* number (`'0-9'`)
* or underscore (`'_'`)

In [61]:
# extract hashtags from the below tweet
tweet = "@nltk Text analysis is awesome! #regex #pandas #python"
[w for w in tweet.split() if w.startswith('#')]

['#regex', '#pandas', '#python']

In [62]:
temp = tweet.split()
for w in temp:
    if w.startswith('#'):
        print(w)

#regex
#pandas
#python

In [63]:
# extract call outs @ from the tweet
[w for w in tweet.split() if w.startswith('@')]

['@nltk']

In [77]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text8 = text7.split(' ')
[w for w in text8 if w.startswith('@')]

['@UN', '@UN_Women', '@']

In [79]:
import re # import re - a module that provides support for regular expressions

[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

In [81]:
[w for w in text8 if re.search('@\w+', w)] #\w matches alphanumeric characters so can be replaced

['@UN', '@UN_Women']

In [83]:
text5

'ouagadougou'

In [87]:
re.findall('[aeiou]', text5) #find vowels in text

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [88]:
re.findall('[^aeiou]', text5) #find anything but vowels in text

['g', 'd', 'g']

### Regular Expression for Dates

In [ ]:
datestr = '23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002 \n23 October 2002\nOct 23, 2002\nOctober 23, 2002\n'

In [93]:
print(datestr)

23-10-2002
23/10/2002
23/10/02
10/23/2002
23 Oct 2002
23 October 2002
Oct 23, 2002
October 23, 2002

In [96]:
re.findall('\d{2}[-/]\d{2}[-/]\d{2,4}', datestr) # matches the frist four exluding the alphabets formatted dates
re.findall('\d{1,2}[-/]\d{1,2}[-/]\d{2,4}', datestr) # generally we could have 1 or two digits for days and months so this is more generic

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [105]:
re.findall('\d{1,2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{2,4}', datestr)
# just returnde Oct, however it did match the whole thing, the bracket ()  means scopping however it also means
# to only return what it matched within the brackets. To overcome this we use "?:" special character sequence

['Oct']

In [106]:
re.findall('\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{2,4}', datestr)

['23 Oct 2002']

In [113]:
re.findall('\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{2,4}', datestr)
#specify that its followed by [a-z] characters and * to specify that it could be zero or more.
# since May would have zero follow on characters

['23 Oct 2002', '23 October 2002']

In [122]:
re.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?\d{2,4}', datestr)
# to match all 4 alpha dates we specify that we can have digits at front or not and at the middle or not using:
# (\d{1,2} )? where ? at the end specifies it could be zero or one occurance and "?:" inside brackets to output everything
# also import to note the spaces inside which also needs to be matched to return correct format dates

['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']

# Working with Text Data in pandas

In [123]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [134]:
# find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [135]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [136]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [140]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [143]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [146]:
# find how many times a digit occurs in each string
df['text'].str.findall(r'\d?\d:\d\d')
df['text'].str.findall(r'(\d?\d):(\d\d)') # group together using brackets ()

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [149]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day', '???')
df['text'].str.replace(r'\w+day\b', '???') # \b to match the boundary

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [183]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][0:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [193]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)') # it only extracted the first entry from last row

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [200]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'(\d?\d):(\d\d)') # extracted all entries
df['text'].str.extractall(r'(\d?\d):(\d\d) ?([ap]m)') # extract am/pm, note some have spaces before so use space and ? before

          0   1   2
  match
0 0       2  45  pm
1 0      11  30  am
2 0       7  00  pm
3 0      11  15  pm
4 0      08  10  am
  1      09  00  am

In [206]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))') # make another group by including the entire statement within ()

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [210]:
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<Period>[ap]m))') 
# to name a group,use ?<name> after the group starting bracket

             time hour minute Period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

In [222]:
native_name = "نعمان"

english_name = "Nouman"

print(native_name, '\n', english_name)

نعمان
 Nouman

In [18]:
import re
a = "saaxc cxaos vxu as sdxyzasd aosdmao "
re.search(r'xyz',a)